doctype html
html(lang="en")
   head.page
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
      link(rel="stylesheet" href="./css/style.min.css")
      title Moon River
   body.page__body
      include modules/header.pug
      include modules/dual.pug
      include modules/showcase.pug
      include modules/carousel.pug
      include modules/contact.pug
      include modules/footer.pug
      
      script(src="js/main.min.js")