section.carousel 
    h3.carousel__title Мы #[br] в социальных сетях
    .carousel-content-box
        .carousel-content-box-item
            img(src="./img/carousel/JPG/item-01.jpg" alt="women-black-red")
        .carousel-content-box-item
            img(src="./img/carousel/JPG/item-02.jpg" alt="box-black")
        .carousel-content-box-item
            img(src="./img/carousel/JPG/item-03.jpg" alt="earrings")
        .carousel-content-box-item
            img(src="./img/carousel/JPG/item-04.jpg" alt="women with earrings")
        .carousel-content-box-item
            img(src="./img/carousel/JPG/item-05.jpg" alt="women with table")
    ul.carousel-links 
        li.carousel-item 
            a.carousel-links__link(href="#")
                img(src="./img/icon/SVG/Facebook.svg" alt="Facebook") 
        li.carousel-item 
            a.carousel-links__link(href="#")
                img(src="./img/icon/SVG/Instagram.svg" alt="Instagram")