section.contact 
    .contact-image 
        img.contact-image__img(src="./img/contact/JPG/bg-contact.jpg" alt="woman")
    .contact-content-wrap 
        .contact-content
            h3.contact-content__title Телефон флагманского магазина
            a.contact-content__link(href="tel:+7800456456") +7 800 456 456
            h3.contact-content__subtitle Подпишитесь на новости
            .search-wrap
                input.dual-left-inner__search(type="text" name="search" placeholder="Введите E-mail")
                input.dual-left-inner__enter(type="image" src="./img/contact/SVG/arrow-black.svg" alt="arrow")