section.dual
    .dual-left.dual-left-image
        .dual-content-inner
            a.dual-content-inner__link(href="#") Перейти в раздел
            h2.dual-content-inner__title Для мужчин
    .dual-right.dual-right-image
        .dual-content-inner
            a.dual-content-inner__link(href="#") Перейти в раздел
            h2.dual-content-inner__title Для женщин

srction.dual.dual-search
    .dual-left
        .dual-left-inner
            h3.dual-left-inner__title Найди бутик около себя
            p.dual-left-inner__description Введите свой адрес и узнайте о самых ближайших бутиках к вам
            .search-wrap
                input.dual-left-inner__search(type="text" name="search" placeholder="Введите адрес")
                input.dual-left-inner__enter(type="image" src="./img/dual/SVG/arrow.svg" alt="arrow")
    iframe.dual-right(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.64969123638!2d37.53697811559498!3d55.74721538055187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bdd017303b9%3A0xd1f63f945a2450c2!2z0JzQvtGB0LrQstCwINCh0LjRgtC4!5e0!3m2!1sru!2sru!4v1645474699960!5m2!1sru!2sru" width="600" height="450" style="border:0;" loading="lazy")