footer.footer
    .container
        ul.footer-head 
            li.footer-item 
                a.footer-head__link(href="#") Работа в компании
            li.footer-item 
                a.footer-head__link(href="#") Условия пользования
            li.footer-item 
                a.footer-head__link(href="#") Выходные данные
            li.footer-item 
                a.footer-head__link(href="#") Политика конфиденциальности
            li.footer-item 
                a.footer-head__link(href="#") Карта сайта
        .footer-bottom 
            .logo-wrap    
                a.logo(href="#") 
                    img.logo__img(src="./img/footer/SVG/logo-wight.svg", alt="logo")
            .content-wrap        
                .contact-inner
                    ul.footer-links 
                        li.footer-item 
                            h5.footer-links__title Телефон горячей линии    
                        li.footer-item 
                            a.footer-links__link(href="tel:+7800456456") +7 800 456 456
                        ul.footer-links-inner
                            li.footer-links-inner-item 
                                a.footer-links-inner__link(href="#")
                                    img(src="./img/icon/SVG/Facebook.svg" alt="Facebook") 
                            li.footer-links-inner-item 
                                a.footer-links-inner__link(href="#")
                                    img(src="./img/icon/SVG/Instagram.svg" alt="Instagram")
                .subscribe
                    h4.subscribe__title Подпишитесь на новости
                    .search-wrap
                        input.dual-left-inner__search(type="text" name="search" placeholder="Введите E-mail")
                        input.dual-left-inner__enter(type="image" src="./img/dual/SVG/arrow.svg" alt="arrow")                  
                    ul.app-links 
                        li.app-links-item
                            a.app-links__link(href="#")
                                img(src="./img/icon/PNG/app-s.png" alt="app store")
                        li.app-links-item
                            a.app-links__link(href="#")
                                img(src="./img/icon/PNG/g-play.png" alt="google play")