header.header 
    .header-light-side
        a.logo(href="#") 
            img.logo__img(src="./img/header/SVG/logo.svg", alt="logo")
        .wrap-main 
            h1.wrap-main__title HIGH JEWELRY    
            .wrap-main-subtitle 
                a.wrap-main-subtitle__link(href="#") Смотреть коллекцию
        .wrap-language         
            input.wrap-language__btn(type="button" value="EN")
            input.wrap-language__btn(type="button" value="RU")
    .header-dark-side
        nav.menu-wrap
            ul.menu
                li.item 
                    a.menu__link(href="#")
                        img(src="./img/header/SVG/heart.svg" alt="heart")  
                li.item 
                    a.menu__link(href="#")
                        img(src="./img/header/SVG/bag.svg" alt="bag")  
                li.item 
                    a.menu__link(href="#")
                        img(src="./img/header/SVG/ico.svg" alt="person")  
                li.item 
                    .menu__link
                        a.toggle-button(href="#") 
                            img.toggle-button__a(src="./img/header/SVG/burger.svg" alt="burger")
                            img.toggle-button__d(src="./img/header/SVG/active.svg" alt="cross")
        .banner 
            img.banner__img(src="./img/header/PNG/ring.png", alt="ring")              

        .description-wrap
            ul.description
                li.item 
                    h2.description__title КОЛЬЦО TRINITY, Cartier
                li.item 
                    p.description__subtitle Белое золото, бриллианты
                li.item
                    span.description__cost 498 000 ₽ 

