.menu-drop
    .container
        a.logo(href="#") 
            img.logo__img(src="./img/footer/SVG/logo-wight.svg" alt="logo")
        ul.menu-categories
            li.item 
                a.menu-categories__link(href="#") ювелирные изделия
            li.item
                a.menu-categories__link(href="#") часы
            li.item
                a.menu-categories__link(href="#") ароматы
            li.item
                a.menu-categories__link(href="#") бренды    
            li.item
                a.menu-categories__link(href="#") изделия из кожи
            li.item
                a.menu-categories__link(href="#") свадебные украшения
            li.item
                a.menu-categories__link(href="#") другое
        .list 
            ul.menu-list
                li.item 
                    h2.menu-list__title для кого     
                li.item 
                    a.menu-list__link(href="#") Для женщин 
                li.item 
                    a.menu-list__link(href="#") Для мужчин
                li.item 
                    a.menu-list__link(href="#") Для детей 

            ul.menu-list
                li.item 
                    h2.menu-list__title Категории     
                li.item 
                    a.menu-list__link(href="#") Кольца
                li.item 
                    a.menu-list__link(href="#") Браслеты
                li.item 
                    a.menu-list__link(href="#") Колье
                li.item 
                    a.menu-list__link(href="#") Серьги
                li.item 
                    a.menu-list__link(href="#") Броши

            ul.menu-list
                li.item 
                    h2.menu-list__title материал     
                li.item 
                    a.menu-list__link(href="#") C бриллиантами
                li.item 
                    a.menu-list__link(href="#") Желтое золото
                li.item 
                    a.menu-list__link(href="#") Белое золото
                li.item 
                    a.menu-list__link(href="#") Розовое золото

            ul.menu-list
                li.item 
                    h2.menu-list__title бренд     
                li.item 
                    a.menu-list__link(href="#") Mercury
                li.item 
                    a.menu-list__link(href="#") Chopard
                li.item 
                    a.menu-list__link(href="#") Cartier
                li.item 
                    a.menu-list__link(href="#") Graff
                li.item 
                    a.menu-list__link(href="#") Garrard
                li.item 
                    a.menu-list__link.menu-list__link-style(href="#") Показать все бренды

