section.showcase
    .showcase-column.showcase-column-duo-flex
        .showcase-card
            .showcase-card-wrap-img 
                img.showcase-card__img(src="./img/showcase/PNG/ring-silver.png" alt="ring-silver") 
            h4.showcase-card__title КОЛЬЦО jow’s, Cartier
            p.showcase-card__description Белое золото, бриллианты
            span.showcase-card__cost 674 000 ₽    
        .showcase-card
            .showcase-card-wrap-img 
                img.showcase-card__img(src="./img/showcase/PNG/ring-gold.png" alt="ring-gold") 
            h4.showcase-card__title КОЛЬЦО croix, Cartier
            p.showcase-card__description Желтое, белое, розовое золото
            span.showcase-card__cost 432 000 ₽   

    .showcase-column.showcase-column-mono-flex
        .showcase-description 
            h4.showcase-description__title Колье etoile, HUBLOT
            p.showcase-description__description Белое золото, бриллианты
            span.showcase-description__cost 539 000 ₽
   
    .showcase-column.showcase-column-duo-flex
        .showcase-card
            .showcase-card-wrap-img 
                img.showcase-card__img(src="./img/showcase/PNG/earrings-green.png" alt="earrings-green") 
            h4.showcase-card__title Серьги moon, HUBLOT
            p.showcase-card__description Желтое золото, сапфир
            span.showcase-card__cost 498 000 ₽   
        .showcase-card
            .showcase-card-wrap-img 
                img.showcase-card__img(src="./img/showcase/PNG/earrings-silver.png" alt="earrings-silver") 
            h4.showcase-card__title серьги win, BLANCPAIN
            p.showcase-card__description Желтое золото, жемчуг
            span.showcase-card__cost 398 000 ₽
